* {
  margin: 0;
  padding: 0;
}

html,body {
background-color: rgb(66, 66, 66);
}

.App {
height: 100vh;
}

/* /Nav Bar/ */

.main-nav-title {
  margin-left: 30px;
  font-size: 25px;
  margin-top: 15px;
  color: black;
  text-decoration: none;
}

.main-nav-title:hover {
  color: magenta;
}

.ui.fixed.menu {
  background-image: linear-gradient(
        90deg,
          rgb(254, 227, 255) 0%,
          rgb(246, 173, 255) 69%,
          rgb(254, 227, 255) 89%
  ) !important;
}

.ui.container {
  margin: 0px 20px 0px 20px;
  justify-content: flex-end;
  width: 74%;
  font-weight: bold;
  font-size: 15px;
}

/* / Landing Page / */

.default-title {
  color: magenta;
  text-align: center;
  margin-top: 30px;
}

/* /Create Jobs page/ */

.createjobs-main-div {
  width: 100%;
  height: 100%;
}

.float-left-div {
  background-image: url("../assets/workpic.jpg");
  background-position: center;
  background-size: cover;
  float: left;
  width: 40%;
  height: 100%;
  opacity: 0.3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}

.float-right-div {
  float: right;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.createjobs-main-title {
  position: absolute;
  top: 50%;
  left: 20%;
  right: 40%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 1;
  font-size: 69px;
  text-shadow: 0 0 10px rgb(215, 149, 255), 0 0 15px rgb(215, 149, 255);
}

.roll-in-blurred-left {
   box-shadow: 0px 13px 34px 4px rgba(0,0,0,.3);
  margin-top: 70px;
  margin-left: 20px;
  width: 50%;
  border-radius: 9px;
  padding: 25px;
  background: whitesmoke;
	-webkit-animation: roll-in-blurred-left 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: roll-in-blurred-left 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
            transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
            transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

.job-post-title {
  text-align: center;
}

.jobposts-header {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 17px;
}

.jobposts-input {
  border-radius: 3px;
  border: none;
  font-size: 15px;
  width: 100%;
  height: 35px;
}

.jobposts-input-coverLetter {
  border-radius: 3px;
  padding: 10px;
  border: none;
  font-size: 14px;
  width: 100%;
  height: 135px;
}

.jobposts-subit-button {
  margin-top: 6% !important;
  margin-left: 33% !important;
  width: 33% !important;
}

/* /MeetupEvents / */
.ul-event {
  list-style: none;
}

.main-event-div {
  display: flex;
  width: 60%;
  border: solid lightgrey 2px;
  border-radius: 11px;
  margin-top: 70px;
  margin-left: 19%;
  background-color: whitesmoke;
}

.li-event {
  display: flex;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),  url("../assets/wood-grain.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 11px;
  box-shadow: 0px 13px 34px 4px rgba(0,0,0,.3);
}

.event-img-div {
  margin: 10px;
}

.event-img {
  width: 277px;
  height: 275px;
  border-radius: 7px;
}

.event-div-info {
  margin: 10px;
  text-align: center;
  color: lightgrey;
}

.about-event {
  text-align: left;
  background-color: black;
  border: solid lightgrey 1px;
  border-radius: 6px;
  padding: 18px 20px;
  overflow: auto;
  width: 90%;
  margin-top: 15px;
  height: 92px;
  margin-left: 28px;
}

.about-event::-webkit-scrollbar {
    width: 1em;
}

.about-event::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.about-event::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
